.roundedButton {
    border-radius: 3em;
    border: 1px solid rgba(13, 71, 161, 0.3);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 60px 15px 60px;
    color: #0D47A1;

    p {
        position: relative;
        z-index: 1;
        transition: color 0.4s linear;
        color: #0D47A1;
    }

    &:hover {
        p {
            color: #0D47A1;
        }
    }
}

.circle {
    width: 100%;
    height: 150%;
    position: absolute;
    border-radius: 50%;
    top: 100%;
}