.menu {
    height: 100vh;
    background: linear-gradient(135deg, rgba(54, 209, 220, 0.95) 0%, rgba(91, 134, 229, 0.95) 100%);
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    z-index: 3;

    .body {
        box-sizing: border-box;
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav {
            display: flex;
            flex-direction: column;
            font-size: 56px;
            gap: 12px;
            margin-top: 80px;

            .header {
                color: rgba(255, 255, 255, 0.7);
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;
            }

            a {
                text-decoration: none;
                color: white;
                font-weight: 300;
            }

        }
    }
}